@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    font-family: 'Montserrat', sans-serif;
}

main {
    width: 35%;
    height: 80%;
    margin: 0 auto;

    background-color: #333333;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    padding: 15px;
}

#date {
    color: white;
    font-size: 60px;
    font-weight: lighter;
    user-select: none;

    display: flex;
    align-items: baseline;
    justify-content: center;
}

#day {
    font-weight: 800;
}

#day-mon {
    font-size: 18px;
}

header label {
    display: flex;
    align-items: center;
}

#search-icon {
    width: 20px;
    cursor: pointer;
}

#search {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #333333;
}

.tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoList {
    width: 100%;
    height: 100%;
    color: white;

    text-transform: uppercase;
}

.tarefa {
    width: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tarefa input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.tarefa input[type="button"] {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #EA4C88;
    border: none;
    outline: none;
    border-radius: 30%;
    color: white;

    cursor: pointer;
}


.newItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newItem input {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 37px;
    border-radius: 50%;
    background-color: #E4B88A;
    color: white;

    cursor: pointer;

    position: absolute;
}